{:deps {org.babashka/cli {:mvn/version "0.3.31"}
        io.github.borkdude/quickblog {:local/root "."}
        #_"You use the newest SHA here:"
        #_{:git/sha "b69c11f4292702f78a8ac0a9f32379603bebf2af"}
        }
 :paths ["."]

 :tasks

 {:init (def opts (merge {:blog-title "REPL adventures"
                          :out-dir "public"
                          :blog-root "https://blog.michielborkent.nl/"}
                         (cli/parse-opts *command-line-args*)))

  :requires ([babashka.fs :as fs]
             [quickblog.api :as qb]
             [babashka.cli :as cli])

  new {:doc "Create new blog article"
       :task (qb/new opts)}

  quickblog {:doc "Render blog"
             :task (qb/quickblog opts)}

  watch  {:doc "Watch posts and templates and call render on file changes"
          :task (qb/watch opts)}

  publish {:doc "Publish blog"
           :depends [quickblog]
           :task (shell "rsync -a --delete public/ user@yourdomain:~/blog")}

  clean {:doc "Remove .work and public directory"
         :task (do (fs/delete-tree ".work")
                   (fs/delete-tree "public"))}
  }}
