    <!-- See Features > favicon in README.md -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{favicon-link-path}}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{favicon-link-path}}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{favicon-link-path}}favicon-16x16.png">
    <link rel="manifest" href="{{favicon-link-path}}site.webmanifest">
    <link rel="mask-icon" href="{{favicon-link-path}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
