<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="application/atom+xml" rel="alternate" href="{{relative-path | safe}}atom.xml" title="{{title}}">
    <link rel="stylesheet" href="{{relative-path | safe}}style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-clojure.min.js"></script>
    {{watch | safe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css">

{% if favicon-tags %}{{favicon-tags | safe}}{% endif %}

    <!-- Social sharing (Facebook, Twitter, LinkedIn, etc.) -->
    <meta name="title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
{% if sharing.description %}
    <meta name="description" content="{{sharing.description}}">
    <meta name="twitter:description" content="{{sharing.description}}">
    <meta property="og:description" content="{{sharing.description}}">
{% endif %}
{% if sharing.url %}
    <meta name="twitter:url" content="{{sharing.url}}">
    <meta property="og:url" content="{{sharing.url}}">
{% endif %}
{% if sharing.image %}
    <meta name="twitter:image" content="{{sharing.image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{sharing.image}}">
    <meta property="og:image:alt" content="{{sharing.image-alt}}">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% if sharing.author %}
    <meta name="twitter:creator" content="{{sharing.author}}">
{% endif %}
{% if sharing.twitter-handle %}
    <meta name="twitter:site" content="{{sharing.twitter-handle}}">
{% endif %}
  </head>
  <body>

    <div class="site-header">
      <div class="wrapper">
        <div class="site-nav">
          <a class="page-link" href="{{relative-path | safe}}archive{{page-suffix}}">Archive</a>
          <a class="page-link" href="{{relative-path | safe}}tags/index.html">Tags</a>
          {% if discuss-link %}<a class="page-link" href="{{discuss-link}}">Discuss</a>{% endif %}
	  <a class="page-link" href="{{relative-path | safe}}atom.xml">
            Feed
          </a>
	  {% if twitter-handle %}
	  <a class="page-link" href="https://twitter.com/{{twitter-handle}}">
            Twitter
          </a>
	  {% endif %}
	  {% if about-link %}
	  <a class="page-link" href="{{about-link}}">About</a>
	  {% endif %}
        </div>
        <div>
          <h1 class="site-title">
            <a class="page-link" href="{{relative-path | safe}}index.html">{{blog-title}}</a>
          </h1>
	  <p>{{blog-description}}</p>
        </div>
      </div>
    </div>

    <div class="wrapper">

      {{body | safe }}

      {% if not skip-archive %}
      <div style="margin-bottom: 20px; float: right;">
        <a class="page-link" href="{{relative-path | safe}}archive{{page-suffix}}">Archive</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
