    <!-- See Features > favicon in README.md -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{relative-path}}{{favicon-dir}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{relative-path}}{{favicon-dir}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{relative-path}}{{favicon-dir}}/favicon-16x16.png">
    <link rel="manifest" href="{{relative-path}}{{favicon-dir}}/site.webmanifest">
    <link rel="mask-icon" href="{{relative-path}}{{favicon-dir}}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
